streamlit
fastapi
uvicorn
langchain
langchain-community
langchain-core
langgraph
langchain-openai
chromadb
sentence-transformers
faiss-cpu
pypdf
python-dotenv
sqlalchemy
pandas
requests
python-multipart
groq
langchain-groq
langgraph
sqlalchemy
passlib
python-jose
bcrypt