streamlit
fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langgraph
faiss-cpu
sentence-transformers
pypdf
python-dotenv
sqlalchemy
pandas
plotly
streamlit-option-menu
groq
python-multipart
passlib
python-jose
bcrypt
requests
protobuf==3.20.3

